// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Sabon LT Pro',
'Helvetica Neue Light',
'Helvetica Neue',
'Helvetica',
'Arial',
sans-serif !default;

/// Alternative font family
/// @type List
$alt-font-stack: 'Whitney B',
'Whitney A',
'Helvetica Neue Light',
'Helvetica Neue',
'Helvetica',
'Arial',
sans-serif !default;




/// Copy text color
/// @type Color
$text-color: #333333 !default;

/// Trends color
/// @type Color
$trends-color: #f0b225 !default;

/// Reports color
/// @type Color
$reports-color: #43c1b8 !default;

/// Btn color
/// @type Color
$btn-color: #30a0ba !default;

/// Light grey
/// @type Color
$light-grey: #f5f5f1 !default;

/// Medium grey
/// @type Color
$mid-grey: #707070 !default;

/// Dark grey
/// @type Color
$dark-grey: #333333 !default;





/// Container's maximum width
/// @type Length
$max-width: 1280px !default;

/// Thinner Container's maximum width
/// @type Length
$thin-width: 1100px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: ('small': only screen and (min-width: 768px),
'medium': only screen and (min-width: 1024px),
'large': only screen and (min-width: 1280px),
'extra-large': only screen and (min-width: 1440px),
) !default;





/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
